AZEVA7_0929/mozi1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mozi
[
<!ELEMENT mozi (film+)>
<!ELEMENT film (rendezo+,szinesz,iro)>
<!ELEMENT rendezo EMPTY>
<!ELEMENT szinesz EMPTY>
<!ELEMENT iro EMPTY>

<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj CDATA>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA>
<!ATTLIST iro id ID #REQUIRED>




]>